@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

/* header start hear */
.header-container {
    background: rgba(229, 84, 115, 0.1);
    max-width: 1920px;
    max-height: 850px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 178px;
}

.header-text-content {
    width: 50%;
    margin-left: 140px;
    margin-top: 197px;
}

.header-img-content {
    width: 50%;
}

.header-text-content h1 {
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    text-align: left;
    width: 708px;
    height: 288px;
    margin-bottom: 32px;
}

.header-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 634px;
    height: 90px;
    margin-bottom: 32px;
}

.header-text-content button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    width: 177px;
    height: 64px;
    border: none;
    text-align: center;
}

.header-img-content img {
    margin-top: 50px;
}

/* header ends hear */


/* featured-flowers start hear */
.featured-flowers-container {
    max-width: 1440px;
    margin: 0 auto;
}

.featured-flowers-text {
    width: 594px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.featured-flowers-text h2 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.featured-flowers-text p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.featured-flowers {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.featured-flowers .img1 {
    background: rgba(167, 33, 98, 0.15);
}

.featured-flowers .img2 {
    background: rgba(5, 151, 160, 0.15);
}

.featured-flowers .img3 {
    background: rgba(71, 125, 17, 0.15);
}

.img1,
.img2,
.img3 {
    width: 464px;
    height: 605px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 32px;
}

.img1 img,
.img2 img,
.img3 img {
    height: 80%;
    width: 80%;
    margin-bottom: -120px;
}

.featured-image-text {
    display: flex;
    justify-content: space-around;
}

.img-text p {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 128px;
}

/* featured-flowers ends hear */

/* delivary start hear */
.delivery-container {
    max-width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
    margin: 0 auto;
    margin-bottom: 178px;
}

.delivery-content {
    width: 1090px;
    height: 147px;
    display: flex;
    text-align: center;
    padding-top: 86px;
    margin-left: 175px;
}

.section {
    width: 33.33%;
}

/* delivary ends hear */

/* 25% off start hear */
.hot-deal {
    max-width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 0 auto;
    margin-bottom: 178px;
    display: flex;
}

.hot-deal-text-content {
    width: 60%;
}

.hot-deal-text-content h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 230px;
}

.hot-deal-text-content h2 span {
    color: rgb(229, 84, 115);
}

.hot-deal-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 594px;
    margin-bottom: 24px;
}

.hot-deal-text-content button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    width: 177px;
    height: 64px;
    text-align: center;
    border: none;
    margin-left: 450px;
}


.hot-deal-img-content {
    width: 40%;
    margin-top: 100px;
}

/* 25% off ends hear */

/* instagram section start hear */
.instagram-container {
    max-height: 522px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.instagram-text {
    width: 594px;
    height: 132px;
    margin: 0 auto;
    text-align: center;
}

.instagram-text h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 24px;
}

.instagram-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instagram-image {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.instagram-image img {
    border-radius: 10px;
}

/* instagram section ends hear */

/* subcribe section start hear */
.subcribe-container {
    width: 1440px;
    height: 449px;
    border: 8px;
    background-image: url(../images/latest-deals-bg.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 128px;
}

.subcribe-content {
    width: 866px;
    height: 206px;
    margin: 0 auto;
    padding-top: 122px;
}

.subcribe-content h2 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}

.subcribe-content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 48px;
}

.subcribe-content input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.subcribe-content input::placeholder {
    padding-left: 22px;
    font-weight: bold;
    font-size: 20px;
}

.subcribe-content input:focus {
    outline: 0;
}

.subcribe-content button {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

/* subcribe section ends hear */

/* footer section start hear */
#footer {
    max-width: 1922px;
    height: 449px;
    background: rgb(17, 16, 16);
    margin: 0 auto;
}

.footer-text {
    margin: 0 auto;
    width: 625px;
    padding-top: 128px;
}

.footer-text h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.footer-text h2 span {
    color: rgb(229, 84, 115);
}

.pra1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
}

.pra2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

/* footer section ends hear */